body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://cms.thainguyen.vn/documents/445171/10213052/anh+bia+du+lich.jpg/9926352a-f368-48f6-b958-7f9618fdd51b?t=1674098401705'); /* Đường dẫn tới hình ảnh nền */
    background-size: cover;
    background-position: center;
    color: white; /* Màu chữ trắng */
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

h1, h2, h3 {
    margin: 10px;
}
