/* styles.css */

body {
    margin: 0;
    padding: 0;
    background-image: url('https://cms.thainguyen.vn/documents/445171/10213052/anh+bia+du+lich.jpg/9926352a-f368-48f6-b958-7f9618fdd51b?t=1674098401705'); /* Thêm hình nền */
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Định dạng cho tiêu đề */
h1, h2 {
    color: #fff; /* Màu chữ cho tiêu đề */
}

/* Định dạng cho các nút */
button {
    background-color: #4CAF50; /* Màu nền nút */
    color: white; /* Màu chữ nút */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Định dạng cho các input */
input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    width: calc(100% - 22px);
}

/* Định dạng cho container biểu đồ */
#charts-container {
    margin-top: 20px;
}

/* Định dạng cho danh sách bài viết */
#articles {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Nền trắng mờ */
    padding: 10px;
    border-radius: 5px;
}
